/* General */
body{
    font-family: Trebuchet MS, sans-serif;
    font-weight: 300;
    margin: 0
}

nav {
    display: inline-flex;
    background:#779DE0;
    margin: 0 auto;
    width: 100%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/London_from_a_hot_air_balloon.jpg/1280px-London_from_a_hot_air_balloon.jpg);
    background-position: center;
    background-size: cover;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em 1em 1em;
}

nav span {
    color: white;
    padding: 0.8em;
    margin-left: auto;
    font-size: 1.1em;
}

nav a:hover{
    background: #6B8DC9;
    font-weight: bold;
}

.nav-derecha{
    margin-left: auto;
}

i {
    position: relative;
    top: 0.2em;
    right: 0.1em;
}

.page-button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:1px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.page-button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.page-button:active {
	position:relative;
	top:1px;
}
	


.submit-button {
    background: #2ecc71;
    width: -webkit-fill-available;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 1em;
    border: #27ae60 0.2em solid;
    margin-top: 1.5em;
    font-weight: bold;
 }

.submit-button:hover{
    background: #28AD60;
}

.detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em;
}

.seccion-texto-detalle{
    display: flex;
    flex-flow: column;
}

.elemento-detalle{
    display: flex;
    align-items: center;
}

.span-detalle {
    color: #ADADAD;
    font-weight: bold;
}

.valor-detalle{
    font-weight: bold;
    color: black;
    padding: 0 0.3em;
    margin: 0.3em;
}

table {
   text-align: center;
   border-spacing: 0;
}

th {
    padding-bottom: 0.8em;
    text-transform: uppercase;
}

td {
    padding: 3em;
}

tr:nth-child(even) {background: #EDEDED}
tr:nth-child(odd) {background: #FFF}

.celda-botones {
    text-align: left;
    padding: 0.5em;
    background: white;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.btn-detalle{
    background: #99BFCC;
    padding: 0.4em;
    text-align: center;
    border-radius: 1em;
    color: white;
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.btn-detalle:hover{
    background: #7C9BA6;
}

.btn-modificar{
    background: #FF8C00;
    padding: 0.4em;
    text-align: center;
    border-radius: 1em;
    color: white;
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.btn-modificar:hover{
    background: #CC7000;
}

.btn-borrar{
    background: #DC143C;
    padding: 0.4em;
    text-align: center;
    border-radius: 1em;
    color: white;
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.btn-borrar:hover{
    background:#B81132;
}

.btn-agregar{
    background: #007bff;
    padding: 0.5em;
    margin: 1em;
    text-align: center;
    border-radius: 1em;
    color: white;
    text-decoration: none;
}

.btn-agregar:hover{
    background: #0069D9;
}

hr{
    width: 50%;
}

.div-etiqueta{
    display: flex;
    margin: 0.4em;
}

.etiqueta{
    padding: 0.3em;
    font-style: italic;
}

/* Login */
.login-body {
    font-family: Trebuchet MS, sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    background:#779DE0;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/London_from_a_hot_air_balloon.jpg/1280px-London_from_a_hot_air_balloon.jpg);
    background-position: center;
    background-size: cover;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:white;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid;
}

.login-body input[type=text], .login-body input[type=password] {
    background:#ecf0f1;
    border: #ccc 0.1em solid;
    border-bottom: #ccc 0.3em solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size: 0.8em;
}

.login-title {
    margin-top: 1em;
}

footer{
    position: relative;
    top: 180px;
    text-align: center;
    background-color: DEDDE4;
}

/* Form Alta */
.div-form-alta{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 1em;
}

.form-alta span {
    display: flex;
    font-weight:bold;
    color: black;
    margin-bottom: 0.5em;
}

.form-alta input[type=text], .form-alta input[type=number], .form-alta input[type=date] {
    margin: 0.3em;
    border-radius: 5px;
    margin-bottom: 0.8em;
    padding: 0.3em;
    width: 100%;
}

.form-alta select {
    margin: 0.3em;
    border-radius: 5px;
    margin-bottom: 0.8em;
    padding: 0.3em;
    width: 100%;
}

.form-alta hr {
    width: 80%
}

.form-alta .checkbox-label-div{
    width:100%;
    margin-bottom: 0.8em;
}
