/* General */
body{
    font-family: Trebuchet MS, sans-serif;
    font-weight: 300;
    margin: 0
}

nav {
    display: inline-flex;
    background:#779DE0;
    margin: 0 auto;
    width: 100%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/London_from_a_hot_air_balloon.jpg/1280px-London_from_a_hot_air_balloon.jpg);
    background-position: center;
    background-size: cover;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em 1em 1em;
}

nav span {
    color: white;
    padding: 0.8em;
    margin-left: auto;
    font-size: 1.1em;
}

nav a:hover{
    background: #6B8DC9;
    font-weight: bold;
}

.nav-derecha{
    margin-left: auto;
}

i {
    position: relative;
    top: 0.2em;
    right: 0.1em;
}


input[type=text], input[type=password] {
    background:#ecf0f1;
    border: #ccc 0.1em solid;
    border-bottom: #ccc 0.3em solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size: 0.8em;
 }

.submit-button {
    background: #2ecc71;
    width: -webkit-fill-available;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 1em;
    border: #27ae60 0.2em solid;
    margin-top: 1.5em;
    font-weight: bold;
 }

.detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em;
}

.seccion-texto-detalle{
    display: flex;
    flex-flow: column;
}

.elemento-detalle{
    display: flex;
    align-items: center;
}

.span-detalle {
    color: #ADADAD;
    font-weight: bold;
}

.valor-detalle{
    font-weight: bold;
    color: black;
    padding: 0 0.3em;
    margin: 0.3em;
}

table {
   text-align: center;
   border-spacing: 0;
}

th {
    padding-bottom: 0.8em;
    text-transform: uppercase;
}

td {
    padding: 3em;
}

tr:nth-child(even) {background: #EDEDED}
tr:nth-child(odd) {background: #FFF}

.celda-botones {
    text-align: left;
    padding: 0.5em;
    background: white;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.btn-modificar{
    background: #FF8C00;
    padding: 0.4em;
    text-align: center;
    border-radius: 1em;
    color: white;
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.btn-borrar{
    background: #DC143C;
    padding: 0.4em;
    text-align: center;
    border-radius: 1em;
    color: white;
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.btn-agregar{
    background: #007bff;
    padding: 0.5em;
    margin: 1em;
    text-align: center;
    border-radius: 1em;
    color: white;
    text-decoration: none;
}

hr{
    width: 50%;
}

/* Login */
.login-body {
    font-family: Trebuchet MS, sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    background:#779DE0;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/London_from_a_hot_air_balloon.jpg/1280px-London_from_a_hot_air_balloon.jpg);
    background-position: center;
    background-size: cover;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:white;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid;
}

.login-title {
    margin-top: 1em;
}

footer{
    position: relative;
    bottom: 0;
    top: 180px;
}
