{{#organizacion}}
    <h1>{{nombre}}</h1>
{{/organizacion}}

<h3>Entidades Base</h3>
    <ul>
        {{#entidadesBase}}
            <li>{{nombreFicticio}}</a></li>
        {{/entidadesBase}}
    </ul>

<h3>Entidades Jurídicas</h3>
    <ul>
    {{#entidadesJuridicas}}
        <li>{{nombreFicticio}}</a></li>
    {{/entidadesJuridicas}}
    </ul>

