<html>

<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body class="login-body">
    <section class="login-box">
        <h2 class="login-title">Inicio de sesión</h2><br>
        <form class="login-form" action="/login" method="POST">
            <div class="campo">
                <input type="text" name="username" placeholder="Usuario">
            </div>
            <div class="campo">
                <input type="password" name="password" placeholder="******">
            </div>
            <input type="submit" class="submit-button" value="Iniciar Sesión">
        </form>
    </section>
</body>

</html>