{{# partial "contenido" }}
    <div class="div-form-alta">
        <h1>Nuevo Ítem</h1>
        <form class="form-alta" action="../items" method="POST">
            <label for="desc">Descripción</label>
            <input type="text" id="desc" name="descripcion"><br>
            <label for="precioUnit">Precio unitario</label>
            <input type="number" id="precioUnit" name="precioUnitario"><br>
            <label for="cantUnidades">Cantidad de unidades</label>
            <input type="number" id="cantUnidades" name="cantidad"><br>
            <input type="submit" class="submit-button" value="Crear Item">
        </form>
    </div>
{{/partial}}
{{> layout.html.hbs }}