{{# partial "contenido" }}
<section class="detalle">
<div class="div-form-alta">
	<form class="form-alta"
		action="/organizaciones/{{idOrganizacion}}/entidades/juridica/nueva"
		method="POST">
		<h1>Nueva Entidad Jurídica</h1>
		<label for="nombre">Nombre</label>
		<input type="text" id="nombre" name="nombre"
			placeholder="Ingrese nombre de la entidad">
			<br>
		<label for="categorias">Categorias</label>
		<select id="categorias" name="categoria">
			{{#each categorias}}
				<option value="{{this.id}}">{{this.nombreCategoria}}</option>
			{{/each}}
		</select>
		<br>
		<label for="razonSocial">Razón Social</label>
		<input type="text" id="razonSocial" name="razonSocial"
			placeholder="Ingrese la razón social">
			<br>
		<label for="cuit">Cuit:</label>
		<input type="text" id="cuit" name="cuit"
			placeholder="Ingrese el número cuit">
			<br>
		<label for="codigoPostal">Código Postal</label>
		<input type="text" id="codigoPostal" name="codigoPostal"
			placeholder="Ingrese el código postal">
			<br>
		<label for="codigoInscripcionIGJ">Código Inscripción IGJ</label>
		<input type="text" id="codigoInscripcionIGJ" name="codigoInscripcionIGJ"
			placeholder="Ingrese el código de inscripción IGJ">
			<br>
		<input type="submit" class="submit-button" value="Crear Entidad">
	</form>
</div>
</section>
{{/partial}}
{{> layout.html.hbs }}