<h1>Nuevo Ítem</h1>
<form class="nuevo-item" action="../items" method="POST">
    <span class="nombre-campo">Descripción:</span><input type="text" name="descripcion"><br>
    <span class="nombre-campo">Precio unitario:</span><input type="number" name="precioUnitario"><br>
    <span class="nombre-campo">Cantidad de unidades:</span><input type="number" name="cantidad"><br>
    <input type="submit" value="Crear Item">
</form>