{{# partial "contenido" }}
    <section>
        <h1>GeSoc - DDS</h1>
        <h2>Sobre nuestro sitio</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta neque sed nisi rutrum, eu ultricies lacus
            rutrum. In sagittis, nunc a pellentesque egestas, lacus odio tincidunt nunc, nec facilisis ipsum lorem sit amet
            mauris. Maecenas vel mi turpis. Morbi ac lacus auctor ante dignissim aliquam vitae vel turpis. Suspendisse
            tincidunt mi id commodo consectetur. Suspendisse ut gravida justo. Praesent a lectus ut nisl iaculis bibendum.
            Nam nec sem sit amet sapien pharetra sodales. Proin congue, tortor ut condimentum fringilla, risus mauris
            ultrices enim, vitae semper diam leo ac nisi.
        </p>

        <table>
            <tr>
                <th>Organización</th>
            </tr>
<!--            <tr>-->
<!--                <form>-->
<!--                    <th>-->
<!--                        <input type="text">-->
<!--                        <input type="submit" value="Filtrar">-->
<!--                    </th>-->
<!--                </form>-->
<!--            </tr>-->
            {{#organizaciones}}
            <tr>
                <td>{{nombre}}</td>
                <td><a href="organizaciones/{{id}}"><i class="small material-icons">description</i>Ver detalle</a></td>
                <td><a href="/"><i class="small material-icons">edit</i>Modificar</a></td>
                <td><a href="/"><i class="small material-icons">delete</i>Borrar</a></td>
            </tr>
            {{/organizaciones}}
        </table>
    </section>
{{/partial}}

{{> layout.html.hbs }}
