<html>

<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
    {{# block "titulo" }}
    {{/block}}
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/">Entidades</a>
        <a href="/">Mensajes</a>
    </nav>
	<spark>
		<h1>GeSoc - DDS</h1>
            {{# block "contenido" }}
            {{/block}}
	</spark>
	<footer>
        TPA GeSoc - DDS - 2020
	</footer>
</body>

</html>
