<html>

<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav>
        <a href="/" class="home nav-link"><i class="small material-icons">home</i>Home</a>
        <span>GeSoc</span>
        <a href="/mensajes" class="nav-derecha nav-link" methods=><i class="small material-icons">message</i>Mensajes</a>
        <a href="/cerrarSesion" class="nav-link nav-cerrar-sesion"><i class="small material-icons">exit_to_app</i>Cerrar sesión</a>
    </nav>
    <spark>
        {{# block "contenido" }}
        {{/block}}
	</spark>
	<footer>
        TPA GeSoc - DDS - 2020
	</footer>
</body>

</html>
