
{{#partial "contenido"}}
{{#block "mensajes"}}
<h1>Tus Mensajes</h1>

{{#if bandejaVacia}}
<p>No hay mensajes</p>

{{else}}

 <ol>
    {{#each mensajes}}
   <li>

    {{this}}
       
   </li>
   {{/each}}
 </ol>
{{/if}}
{{/block}}
{{/partial}}
{{> layout.html.hbs }}