
{{#partial "contenido"}}
{{#block "mensajes"}}
<section class="detalle">
<h1>Tus Mensajes</h1>

{{#if bandejaVacia}}
<p class="msg-box" style="background-color:#f7d9c1">No hay mensajes</p>

{{else}}

 <ol>
    {{#each mensajes}}
   <li class="msg-box" style="margin-top:10">

    <div >{{this}}</div>
       
   </li>
   {{/each}}
 </ol>
{{/if}}
</section>
{{/block}}
{{/partial}}
{{> layout.html.hbs }}